<div class="container shadow p-3 mb-5 bg-white rounded">

  <div class="card-header mb-4">
    <b>INDICAÇÃO DAS UNIDADES E TURNOS PARA DISPONIBILIDADE</b>
  </div>

  <p>
    Informe a disponibilidade de horário para o {{semestre?.semestreReferencia}}º Semestre de {{semestre?.anoReferencia}}
  </p>

  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <form [formGroup]="disponibilidadeForm" (ngSubmit)="salvar()">

      <div class="row col-md-2">
        <p class="font-weight-bold text-uppercase">matutino</p>
      </div>

      <!-- DIV TURNO MATUTINO -->
      <div class="row col-md-12">
        <div class="form-group col-sm-2">
          <label for="inputDisponibilidadeSegunda">SEG</label>
          <ng-multiselect-dropdown 
            name="matutinoSegunda"
            formControlName="matutinoSegunda"
            [placeholder]="'Selecione ...'" 
            [data]="unidadesAcademicas"
            [settings]="dropdownSettings" 
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group col-sm-2">
          <label for="inputDisponibilidadeSegunda">TER</label>
          <ng-multiselect-dropdown 
            name="matutinoTerca" 
            formControlName="matutinoTerca" 
            [placeholder]="'Selecione ...'" 
            [data]="unidadesAcademicas"
            [settings]="dropdownSettings" 
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group col-sm-2">
          <label for="inputDisponibilidadeSegunda">QUA</label>
          <ng-multiselect-dropdown 
            name="matutinoQuarta" 
            formControlName="matutinoQuarta" 
            [placeholder]="'Selecione ...'" 
            [data]="unidadesAcademicas"
            [settings]="dropdownSettings" 
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group col-sm-2">
          <label for="inputDisponibilidadeSegunda">QUI</label>
          <ng-multiselect-dropdown 
            name="matutinoQuinta" 
            formControlName="matutinoQuinta" 
            [placeholder]="'Selecione ...'" 
            [data]="unidadesAcademicas"
            [settings]="dropdownSettings" 
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group col-sm-2">
          <label for="inputDisponibilidadeSegunda">SEX</label>
          <ng-multiselect-dropdown 
            name="matutinoSexta" 
            formControlName="matutinoSexta" 
            [placeholder]="'Selecione ...'" 
            [data]="unidadesAcademicas"
            [settings]="dropdownSettings" 
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group col-sm-2">
          <label for="inputDisponibilidadeSegunda">SÁB</label>
          <ng-multiselect-dropdown 
            name="matutinoSabado" 
            formControlName="matutinoSabado" 
            [placeholder]="'Selecione ...'" 
            [data]="unidadesAcademicas"
            [settings]="dropdownSettings" 
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>
      <!-- /DIV TURNO MATUTINO -->

      <div class="row col-md-2">
        <p class="font-weight-bold text-uppercase">noturno</p>
      </div>

       <!-- DIV TURNO NOTURNO -->
       <div class="row col-md-12">
          <div class="form-group col-sm-2">
            <label for="inputDisponibilidadeSegunda">SEG</label>
            <ng-multiselect-dropdown 
              name="noturnoSegunda" 
              formControlName="noturnoSegunda" 
              [placeholder]="'Selecione ...'" 
              [data]="unidadesAcademicas"
              [settings]="dropdownSettings" 
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
  
          <div class="form-group col-sm-2">
            <label for="inputDisponibilidadeSegunda">TER</label>
            <ng-multiselect-dropdown 
              name="noturnoTerca" 
              formControlName="noturnoTerca" 
              [placeholder]="'Selecione ...'" 
              [data]="unidadesAcademicas"
              [settings]="dropdownSettings" 
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
  
          <div class="form-group col-sm-2">
            <label for="inputDisponibilidadeSegunda">QUA</label>
            <ng-multiselect-dropdown 
              name="noturnoQuarta" 
              formControlName="noturnoQuarta" 
              [placeholder]="'Selecione ...'" 
              [data]="unidadesAcademicas"
              [settings]="dropdownSettings" 
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
  
          <div class="form-group col-sm-2">
            <label for="inputDisponibilidadeSegunda">QUI</label>
            <ng-multiselect-dropdown 
              name="noturnoQuinta" 
              formControlName="noturnoQuinta" 
              [placeholder]="'Selecione ...'" 
              [data]="unidadesAcademicas"
              [settings]="dropdownSettings" 
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
  
          <div class="form-group col-sm-2">
            <label for="inputDisponibilidadeSegunda">SEX</label>
            <ng-multiselect-dropdown 
              name="noturnoSexta" 
              formControlName="noturnoSexta" 
              [placeholder]="'Selecione ...'" 
              [data]="unidadesAcademicas"
              [settings]="dropdownSettings" 
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <!-- /DIV TURNO NOTURNO -->

        <div class="form-group row text-right">
          <div class="col-md-12">
            <button type="submit" class="btn btn-outline-primary">
              <i class="fas fa-save"></i> Salvar
            </button>
          </div>
        </div>

    </form>
  </div>
</div>