<footer class="footer bg-azul-projecao text-white">
  <div class="container">
    <div class="row pt-2 my-md-1 pt-md-4 justify-content-around">
      <div class="col-6 col-md">
        <h4>Centro Universitário e Faculdade Projeção</h4>
        <p>
          <a class="mr-3 fa-1x text-white" href="https://www.facebook.com/FaculdadeProjecao/" target="_blank">
            <i class="fab fa-facebook-f fa-1x"></i>
          </a>
          <a class="mr-3 fa-1x text-white" href="https://twitter.com/grupoprojecao/" target="_blank">
            <i class="fab fa-twitter fa-1x"></i>
          </a>
          <a class="mr-3 fa-1x text-white" href="https://www.instagram.com/grupoprojecao/" target="_blank">
            <i class="fab fa-instagram fa-1x"></i>
          </a>
          <a class="mr-3 fa-1x text-white" href="https://www.linkedin.com/company/faculdade-projecao/" target="_blank">
            <i class="fab fa-linkedin-in fa-1x"></i>
          </a>
          <a class="mr-3 fa-1x text-white" href="https://www.youtube.com/user/grupoprojecao1/" target="_blank">
            <i class="fab fa-youtube fa-1x"></i>
          </a>
        </p>
      </div>
      <div class="col-6 col-md offset-md-2">
        <h4>Links úteis</h4>
        <ul class="list-unstyled">
          <li class="altura-li">
            <a class="text-white" href="https://professor.projecao.br/" target="_blank">
              <i class="fas fa-chalkboard-teacher fa-1x"></i> Blog Professor</a>
          </li>
          <li class="altura-li">
            <a class="text-white" href="https://projecao.br/biblioteca" target="_blank">
              <i class="fas fa-book-open fa-1x"></i> Biblioteca</a>
          </li>
          <li class="altura-li">
            <a class="text-white" href="https://projecao.br/ava" target="_blank">
              <i class="fas fa-desktop fa-1x"></i> AVA</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-vermelho-projecao">
    <div class="container text-center text-white">
      <i class="far fa-copyright"></i> 2018 Fábrica de Software - UniPROJEÇÃO - Campus II. Todos os direitos reservados.
    </div>
  </div>
</footer>