@media (min-width: 576px) {
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
  }

  .footer-copyright {}
}

@media (min-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
  }

  .footer-copyright {}
}

@media (min-width: 992px) {
  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
  }

  .footer-copyright {}
}

@media (min-width: 1200px) {
  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
  }

  .footer-copyright {}
}
