<footer class="footer bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h5>Centro Universitário e Faculdade Projeção</h5>
        <p class="text-dark">
          <a class="" href="https://www.facebook.com/FaculdadeProjecao/" target="_blank"><i class="fab fa-facebook-f fa-1x"></i></a>
          <a class="" href="https://twitter.com/grupoprojecao/" target="_blank"><i class="fab fa-twitter fa-1x"></i></a>
          <a class="" href="https://www.instagram.com/grupoprojecao/" target="_blank"><i class="fab fa-instagram fa-1x"></i></a>
          <a class="" href="https://www.linkedin.com/company/faculdade-projecao/" target="_blank"><i class="fab fa-linkedin-in fa-1x"></i></a>
          <a class="" href="https://www.youtube.com/user/grupoprojecao1/" target="_blank"><i class="fab fa-youtube fa-1x"></i></a>
        </p>
      </div>
      <div class="col-6">
        <h5>Links úteis</h5>
        <ul>
          <li>
            <a class="" href="https://professor.projecao.br/" target="_blank">
              <i class="fas fa-chalkboard-teacher fa-1x"></i> Blog Professor</a>
          </li>
          <li>
            <a class="" href="https://projecao.br/biblioteca" target="_blank">
              <i class="fas fa-book-open fa-1x"></i> Biblioteca</a>
          </li>
          <li>
            <a class="" href="https://projecao.br/ava" target="_blank">
              <i class="fas fa-desktop fa-1x"></i> AVA</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-danger">
    <div class="container text-center text-white">
      <i class="fa fa-copyright"></i> 2018 Fábrica de Software - UniPROJEÇÃO - Campus II. Todos os direitos reservados.
    </div>
  </div>
</footer>
