<div class="card">
  <div class="card-img-top text-center">
    <pj-image-projecao-responsive></pj-image-projecao-responsive>
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">SEJA BEM VINDO!</h5>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="far fa-envelope"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Digite seu email" aria-label="Digite seu email"
        aria-describedby="email">
      <div class="input-group-append">
        <span class="input-group-text" id="email">@projecao.br</span>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="senha"><i class="fas fa-key"></i></span>
      </div>
      <input type="password" class="form-control" placeholder="Digite sua senha" aria-label="Digite sua senha"
        aria-describedby="senha">
    </div>
    <button class="btn btn-cor-padrao col-4">Entrar</button><br>
    <a href="#" id="link-hover">Esqueci minha senha</a>
  </div>
  <div class="card-footer text-muted text-center font-weight-light">
    <i class="far fa-copyright"></i> 2018 Fábrica de Software - UniPROJEÇÃO - Campus II
  </div>
</div>