.btn-cor-padrao {
    color: #ffffff;
    background-color: #0a0330;
    border-color: #0a0330;
}

.btn-cor-padrao:hover {
    color: #ffffff;
    background-color: #06021f;
    border-color: #06021f;
}