<div class="container shadow p-3 mb-5 bg-white rounded">

  <div class="card-header mb-4">
    <b>CADASTRO DE DADOS PESSOAIS</b>
  </div>
  <form [formGroup]="dadosProfissionaisForm" (ngSubmit)="salvar()">
    <div class="row">
      <div class="col-md-8">
        <pj-input-text (formControl)="addFormControl('graduacao', $event)" label="Graduação" name="graduacao" icone="fa-user-graduate"
          placeText="Digite o curso de sua graduação"></pj-input-text>
      </div>
      <div class="col-md-4">
        <pj-input-date (formControl)="addFormControl('dataConclusao', $event)" label="Data de conclusão" name="dataConclusao"></pj-input-date>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <label for="inputNivelGraduacao">Maior titulação obtida</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputNivelGraduacao"><i class="fas fa-graduation-cap"></i></label>
          </div>
          <select formControlName="nivelGraduacao" class="custom-select" id="inputNivelGraduacao">
            <option value="">Escolha o nível da maior titulação obtida...</option>
            <option value="GRADUACAO">Graduação</option>
            <option value="POS_GRADUACAO">Pós-Graduação</option>
            <option value="MESTRADO">Mestrado</option>
            <option value="DOUTORADO">Doutorado</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-check">
          <input formControlName="titulacaoEmAndamento" type="checkbox" class="form-check-input" id="checkTitulacaoAndamento"
            #showInputNomeTitulacao (change)="0">
          <label class="form-check-label" for="checkTitulacaoAndamento">Possui titulação em andamento?</label>
        </div>
      </div>
      <div [ngStyle]="{display: showInputNomeTitulacao.checked ? 'unset' : 'none'}" class="col-md-8">
        <pj-input-text (formControl)="addFormControl('descricaoTitulacaoEmAndamento', $event)" placeText="Digite o nome da titulação que está em andamento"
          name="titulacaoAndamento"></pj-input-text>
      </div>
    </div>
    <div class=" row">
      <div class="col-md-8">
        <pj-input-text (formControl)="addFormControl('principalAtuacaoProfissional', $event)" placeText="Digite o nome do cargo"
          label="Principal atuação profissional" name="principalAtuacaoProfissional"></pj-input-text>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <pj-input-number (formControl)="addFormControl('tempoExpProfissional', $event)" placeText="Digite a quantidade de meses"
          label="Tempo de exp. profissional" name="expProfissional"></pj-input-number>
      </div>
      <div class="col-md-4">
        <pj-input-number (formControl)="addFormControl('tempoExpMagisterioSuperior', $event)" placeText="Digite a quantidade de meses"
          label="Tempo de exp. magistério superior" name="expMagisterioSuperior"></pj-input-number>
      </div>
      <div class="col-md-4">
        <pj-input-number (formControl)="addFormControl('tempoExpDocenciaEdBasica', $event)" placeText="Digite a quantidade de meses"
          label="Tempo de exp. docência na ed. básica" name="expDocenciaEdBasica">
          <span class="badge badge-secondary" data-toggle="tooltip" title="" data-original-title="Somente para docentes da escola de formação de professores.">?</span>
        </pj-input-number>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <pj-input-text (formControl)="addFormControl('curriculoLattesUrl', $event)" placeText="URL do curriculo lattes exemplo http://professorfilemon.com.br"
          label="URL currículo Lattes" name="curriculoLattesUrl"></pj-input-text>
      </div>
      <div class="col-md-4">
        <pj-input-date (formControl)="addFormControl('curriculoLattesDataAtt', $event)" label="Data atualização Lattes"
          name="curriculoLattesDataAtt"></pj-input-date>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <pj-text-area (formControl)="addFormControl('publicacoes', $event)" label="Últimas Publicações do Lattes"
          placeText="Informe as publicações dos últimos 3 anos (Título, Ano e Local de publicação)" name="publicacoes"
          row="5" maxlength="1000"></pj-text-area>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-md-12">
        <button [disabled]="dadosProfissionaisForm.invalid" type="submit" class="btn btn-outline-primary">
          <i class="fas fa-save"></i> Salvar
        </button>
      </div>
    </div>
  </form>
</div>
